{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <table class="table table-list-search">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Total price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in cart %}
                    <tr>
                        <td>{{ product[2].name }}</td>
                        <td>{{ product[1] }}</td>
                        <td>{{ product[2].price }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{ totaal }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
